.form-style
{
display: flex;
flex-direction: column;
justify-items: center;
align-content: center;
gap: 10px;
background:rgb(198, 231, 12);
margin: 0%;
padding: 0%;
}

.field-set{
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px;
   
}

label{
    text-transform: uppercase;
    color:rgb(240, 28, 212);
}

span{
    color: red;
}

body {
    display: flex;
  justify-content: center;
}

.button-style{
    text-align: center;
}